<footer>
  <div class="footer">
    <div class="text"><p>Robotics Club NITB</p></div>
    <div class="icons">
      <div class="icon">
        <a href="https://in.linkedin.com/company/robotics-club-nit-bhopal"></a
        ><i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="icon">
        <a href="https://www.instagram.com/roboticsclubmanit/?hl=en"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
      <div class="icon">
        <a href="https://www.facebook.com/roboticsnitb/?locale=gl_ES"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </div>
      <div class="icon">
        <a href="https://www.manit.ac.in/content/robotics"
          ><i class="fa-solid fa-building-columns"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
