<div class="header">
  <div class="views-logo">
    <img src="images/rc-logo.jpeg" alt="" />
  </div>
  <div class="views-right">
    <a href="/home"><div class="views">Home</div></a>
    <div class="views">About</div>
    <a href="/events"><div class="views">Events</div></a>
    <div class="views">Contact us</div>
    <a href="/register"><div class="views">Register</div></a>
  </div>
</div>
