<% layout("/layouts/boilerplate") %>
<div class="page">
  <div class="front-img">
    <p>ROBOTICS <br />CLUB</p>
  </div>
  <div class="about">
    <p>
      <center><h2>About us</h2></center>
      Robotics Club at NIT Bhopal (Maulana Azad National Institute of
      Technology) is a vibrant community of tech enthusiasts passionate about
      innovation and automation. The club provides a platform for students to
      explore and develop skills in robotics, electronics, and programming
      through hands-on projects, workshops, and competitions. Members
      collaborate on building robots for national and international events such
      as Robocon and Techfests. The club fosters creativity, teamwork, and
      practical learning, making it a hub for aspiring engineers. With
      mentorship from seniors and faculty, it encourages innovation and
      problem-solving, contributing to the institute’s strong presence in the
      tech domain.
    </p>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card-pic"><img src="../images/download (1).jpeg" /></div>
      <div class="card-name">CAD workshop</div>
    </div>
    <div class="card">
      <div class="card-pic"><img src="../images/download (2).jpeg" /></div>
      <div class="card-name">Hardware Interfacing</div>
    </div>
    <div class="card">
      <div class="card-pic"><img src="../images/download.jpeg" /></div>
      <div class="card-name">Sensors</div>
    </div>
    <div class="card">
      <div class="card-pic"><img src="../images/images (1).jpeg" /></div>
      <div class="card-name">Microcontrollers</div>
    </div>
  </div>
  <center>
    <a href="/register"><button>Register now</button></a>
  </center>
</div>
