<% layout("/layouts/boilerplate") %>
<div class="form">
  <form action="" method="POST">
    <div class="input">
      <label for="lead">Name of leader</label><br />
      <input type="text" name="lead" id="lead" />
    </div>
    <div class="input">
      <label for="name">Name of member 2</label><br />
      <input type="text" name="name" id="name" />
    </div>
    <div class="input">
      <label for="name">Name of member 3</label><br />
      <input type="text" name="name" id="name" />
    </div>
    <div class="input">
      <label for="name">Name of member 4</label><br />
      <input type="text" name="name" id="name" />
    </div>
    <div class="input">
      <label for="email">Email of team lead</label><br />
      <input type="email" name="email" id="email" />
    </div>
    <div class="input">
      <label for="num">Phone number</label><br />
      <input type="text" name="num" id="num" />
    </div>
    <div class="input">
      <label for="college">College</label><br />
      <input type="text" name="college" id="college" />
    </div>

    <div class="radio">
      <input type="radio" name="event" id="cad" value="Cad" />
      <label for="Cad">CAD</label>
      <input
        type="radio"
        name="inter"
        id="inter"
        value="Hardware Interfacing"
      />
      <label for="inter">Hardware Interfacing</label>
      <input type="radio" name="sensors" id="sensors" value="sensors" />
      <label for="sensors">sensors</label>
      <input type="radio" name="audrino" id="audrino" value="audrino" />
      <label for="audrino">Audrino</label>
    </div>
    <br /><br />
    <div><button>Submit</button></div>
  </form>
</div>
